<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb73cb1c587c9fad43fb699ab32abd4:b32798da38ff18c46a3a79e7d214d0e5:e6583e2a33f50d5ab2b18ba96c8dc058$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Character_Walk_Regular_Scarf_Green_BambooHat_Beige.1.png</string>
                <key>size</key>
                <string>{1928,1491}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-1.png</string>
                        <key>spriteOffset</key>
                        <string>{111,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,8},{238,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-4.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{256,8},{238,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-2.png</string>
                        <key>spriteOffset</key>
                        <string>{111,36}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{504,8},{238,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-25.png</string>
                        <key>spriteOffset</key>
                        <string>{116,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{752,8},{228,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-5.png</string>
                        <key>spriteOffset</key>
                        <string>{111,33}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{990,8},{238,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-28.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1238,8},{228,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-26.png</string>
                        <key>spriteOffset</key>
                        <string>{116,34}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1476,8},{228,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-29.png</string>
                        <key>spriteOffset</key>
                        <string>{116,33}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,359},{228,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-0.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{246,360},{238,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-3.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{494,361},{238,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-24.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{742,361},{228,352}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-27.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{980,362},{228,352}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-22.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1218,362},{222,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-19.png</string>
                        <key>spriteOffset</key>
                        <string>{124,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1450,363},{222,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-7.png</string>
                        <key>spriteOffset</key>
                        <string>{111,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1682,363},{238,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-20.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,717},{222,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-8.png</string>
                        <key>spriteOffset</key>
                        <string>{111,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{240,720},{238,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-10.png</string>
                        <key>spriteOffset</key>
                        <string>{111,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{488,721},{238,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-14.png</string>
                        <key>spriteOffset</key>
                        <string>{120,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{736,723},{232,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-23.png</string>
                        <key>spriteOffset</key>
                        <string>{124,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{978,724},{222,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-18.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1210,730},{222,364}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-21.png</string>
                        <key>spriteOffset</key>
                        <string>{118,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1442,732},{228,364}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-11.png</string>
                        <key>spriteOffset</key>
                        <string>{111,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1680,734},{238,367}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-6.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1093},{238,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-9.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{256,1094},{238,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-13.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{504,1096},{232,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-16.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{746,1097},{232,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-17.png</string>
                        <key>spriteOffset</key>
                        <string>{120,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{988,1104},{232,369}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-12.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1230,1106},{232,372}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_BambooHat-15.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1472,1111},{232,372}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
