<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fde3af3ac2a27c349f863cd0ca020349:207fe72263964deda9c6267426edce03:d29ca5eb081a65c328599e1ae7887786$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Character_Idle_Regular_Scarf_Green_BambooHat_Beige.1.png</string>
                <key>size</key>
                <string>{1960,1856}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-4.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,8},{238,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-3.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{256,8},{238,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-5.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{504,8},{238,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-2.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{752,8},{238,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-6.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1000,8},{238,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-35.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1248,8},{228,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-37.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1486,8},{228,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-34.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1724,8},{228,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-1.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,362},{238,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-7.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{256,363},{238,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-38.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{504,363},{228,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-0.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{742,365},{238,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-33.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{990,365},{228,351}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-36.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1228,365},{228,351}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-39.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1466,365},{228,351}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-32.png</string>
                        <key>spriteOffset</key>
                        <string>{116,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1704,367},{228,352}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-28.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,721},{222,356}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-27.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{240,722},{222,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-29.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{472,722},{222,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-12.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{704,725},{238,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-26.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{952,726},{222,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-30.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1184,726},{222,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-11.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1416,726},{238,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-13.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1664,729},{238,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-25.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1087},{222,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-31.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{240,1090},{222,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-24.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{472,1090},{222,364}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-10.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{704,1094},{238,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-14.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{952,1096},{238,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-20.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1200,1097},{232,363}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-9.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1442,1100},{238,366}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-15.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1690,1100},{238,366}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-19.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1462},{232,366}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-21.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{250,1464},{232,366}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-8.png</string>
                        <key>spriteOffset</key>
                        <string>{111,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{492,1467},{238,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-18.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{740,1469},{232,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-22.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{982,1470},{232,368}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-17.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1224,1476},{232,370}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-23.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1466,1476},{232,370}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Scarf_Green_BambooHat-16.png</string>
                        <key>spriteOffset</key>
                        <string>{120,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1708,1476},{232,372}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
