<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3917d64144db8971dc309b399df4c835:02e4d97cef1f3d84b26a8ef480566042:b23e0b0704083ebb861577e83b0fcb1d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GrassBlocks_Flowers.1.png</string>
                <key>size</key>
                <string>{1650,1497}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Blue_1.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{6,6},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Blue_2.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{417,6},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Blue_3.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{828,6},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Pink_1.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1239,6},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Pink_2.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{6,503},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Pink_3.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{417,503},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_White_1.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{828,503},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_White_2.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1239,503},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_White_3.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{6,1000},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Yellow_1.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{417,1000},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Yellow_2.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{828,1000},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_Flowers_Yellow_3.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1239,1000},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
