<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>trongpapaya.pico</string>
	<key>CLIENT_ID</key>
	<string>749475137273-lhhmc8rv8qfrkab0p6a11ttt8mivd75o.apps.googleusercontent.com</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749475137273-lhhmc8rv8qfrkab0p6a11ttt8mivd75o</string>
</dict>
</plist>
