<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2373a3a6e1255bf2cc393f6392b8a9b8:f55f7632331bf55cdce7d86f9ed94a5b:6d87f191282f344c6a0e5ac49a5d6972$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Character_Idle_Happy_Beanie_Sky.1.png</string>
                <key>size</key>
                <string>{1736,1925}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-24.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,8},{191,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-28.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{209,8},{202,354}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-27.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{421,8},{202,356}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-29.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{633,8},{202,356}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-36.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{845,8},{212,356}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-35.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1067,8},{212,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-37.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1289,8},{212,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-26.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1511,8},{202,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-30.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,372},{202,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-34.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{220,374},{212,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-38.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{442,374},{212,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-25.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{664,374},{202,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-31.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{876,375},{202,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-33.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1088,375},{212,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-39.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1310,376},{212,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-20.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1532,376},{196,366}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-32.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,743},{212,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-19.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,743},{196,369}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-21.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{436,743},{196,369}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-4.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{642,744},{212,370}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-3.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{864,745},{212,371}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-5.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1086,746},{212,371}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-18.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1308,747},{196,371}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-22.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1514,752},{196,371}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-2.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1115},{212,373}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-6.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,1122},{212,373}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-17.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,1124},{196,373}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-23.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{658,1124},{196,373}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-1.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{864,1126},{212,375}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-7.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1086,1127},{212,375}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-16.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1308,1128},{196,375}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-0.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1514,1133},{212,376}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-12.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1498},{191,389}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-11.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{209,1505},{191,391}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-13.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{410,1507},{191,391}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-10.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{611,1507},{191,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-14.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{812,1511},{191,393}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-9.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1013,1512},{191,396}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-15.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1214,1513},{191,396}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>CharacterIdleHappyBeanie-8.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1415,1519},{191,398}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
