<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb256e3a6a1fa3d0a24d75c2beba695:2ebf60ce8e13ecb2a5bd0da2045da466:39383ec1a96d2126b4117ffb34024cee$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Character_Idle_Happy_Scarf_Orange_Helmet_Silver.1.png</string>
                <key>size</key>
                <string>{1720,1852}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-32.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,8},{212,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-0.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,367},{212,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-33.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,725},{212,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-39.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1083},{212,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-1.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1441},{212,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-7.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,8},{212,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-34.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,365},{212,346}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-38.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,721},{212,346}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-2.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,1077},{212,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-6.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,1432},{212,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-35.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,8},{212,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-37.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,362},{212,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-3.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,716},{212,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-5.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,1069},{212,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-36.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,1422},{212,343}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-4.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{674,8},{212,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-24.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{896,8},{197,361}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-8.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{674,360},{195,364}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-25.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1103,8},{197,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-31.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1310,8},{197,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-9.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1517,8},{195,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-15.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1103,377},{195,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-26.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1308,377},{197,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-30.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{879,379},{197,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-16.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{674,734},{193,364}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-10.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{877,746},{195,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-17.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{674,1108},{193,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-14.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1515,380},{195,359}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-27.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1308,744},{197,355}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-29.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1082,749},{197,355}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-23.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1515,749},{193,362}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-11.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1289,1109},{195,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-13.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1082,1114},{195,357}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-18.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{877,1115},{193,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-22.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{674,1480},{193,360}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-28.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1287,1476},{197,353}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-12.png</string>
                        <key>spriteOffset</key>
                        <string>{133,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1080,1481},{195,355}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-19.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{877,1485},{193,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-21.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1494,1121},{193,358}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Idle_Happy_Scarf_Orange_Helmet-20.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1494,1489},{193,355}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
