<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae12fc3f7fec2c7d5e355a99938022e:dad787cbe5678da0acbae05a2bf28101:cd092ce93a994f4bdceae5fd0cb56468$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Character_Walk_Regular_Scarf_Green_Bow_Yellow.1.png</string>
                <key>size</key>
                <string>{1256,2044}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-12.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,8},{180,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-15.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,366},{180,348}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-0.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,724},{212,333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-3.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{198,8},{212,333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-24.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{198,351},{212,333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-6.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,694},{189,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-27.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{420,8},{212,333}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-5.png</string>
                        <key>spriteOffset</key>
                        <string>{124,33}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{420,351},{212,327}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-29.png</string>
                        <key>spriteOffset</key>
                        <string>{124,33}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{230,1051},{212,327}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-21.png</string>
                        <key>spriteOffset</key>
                        <string>{118,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{429,688},{210,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-1.png</string>
                        <key>spriteOffset</key>
                        <string>{127,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{642,8},{209,324}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-25.png</string>
                        <key>spriteOffset</key>
                        <string>{127,32}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{642,342},{209,324}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-9.png</string>
                        <key>spriteOffset</key>
                        <string>{135,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1067},{189,347}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-11.png</string>
                        <key>spriteOffset</key>
                        <string>{133,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{452,1042},{189,346}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-17.png</string>
                        <key>spriteOffset</key>
                        <string>{140,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{207,1388},{180,345}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-18.png</string>
                        <key>spriteOffset</key>
                        <string>{135,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{8,1424},{185,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-4.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{649,676},{207,325}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-13.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{861,8},{180,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-28.png</string>
                        <key>spriteOffset</key>
                        <string>{124,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{397,1398},{207,325}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-2.png</string>
                        <key>spriteOffset</key>
                        <string>{130,36}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{614,1398},{206,326}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-26.png</string>
                        <key>spriteOffset</key>
                        <string>{130,34}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{651,1011},{206,326}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-16.png</string>
                        <key>spriteOffset</key>
                        <string>{140,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{866,362},{180,344}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-7.png</string>
                        <key>spriteOffset</key>
                        <string>{140,18}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1051,8},{192,340}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-8.png</string>
                        <key>spriteOffset</key>
                        <string>{137,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{830,1347},{191,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-22.png</string>
                        <key>spriteOffset</key>
                        <string>{124,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{830,1699},{200,337}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-10.png</string>
                        <key>spriteOffset</key>
                        <string>{129,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{867,716},{191,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-23.png</string>
                        <key>spriteOffset</key>
                        <string>{129,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1056,358},{191,342}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-20.png</string>
                        <key>spriteOffset</key>
                        <string>{129,20}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1031,1068},{191,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-14.png</string>
                        <key>spriteOffset</key>
                        <string>{140,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1068,710},{180,339}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Char_Walk_Scarf_Green_Bow-19.png</string>
                        <key>spriteOffset</key>
                        <string>{132,19}</string>
                        <key>spriteSourceSize</key>
                        <string>{460,460}</string>
                        <key>textureRect</key>
                        <string>{{1040,1419},{188,338}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
