<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 7.12.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09113a7573c5dd2a0b52e98f018c11d:636b7c5b9708ce5fd65c751925167130:41868bf98eb6bcaacacb611eacc4dc80$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GrassBlock_New.1.png</string>
                <key>size</key>
                <string>{410,1444}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_3.png</string>
                        <key>spriteOffset</key>
                        <string>{48,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{405,491}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_1.png</string>
                        <key>spriteOffset</key>
                        <string>{46,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1,494},{408,478}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>GrassBlock_2.png</string>
                        <key>spriteOffset</key>
                        <string>{48,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,500}</string>
                        <key>textureRect</key>
                        <string>{{1,974},{406,469}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
